@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
  background-color: #1A1A1A;
  font-family: 'Montserrat', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cart-item{
  box-sizing: border-box;
  display: inline-flex;
  margin: 1rem 1rem;
  width: 35%;
  padding: 5px;
  background: #F4F4F4;
  box-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);  border-radius: 10px;

}

.cart-item .right-block{
  padding: 0 1rem;
}

.icons{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.2rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}