body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cart-item{
  display: inline-flex;
  margin: 1rem 1rem;
}

.cart-item .right-block{
  padding: 0 1rem;
}

.icons{
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1.2rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.cart{
  display: flex;
  flex-direction: column;
}